In [1]:
import pandas as pd
from newspaper import Article
import nltk
import ast
import requests
from tqdm.auto import tqdm
tqdm.pandas()
from bs4 import BeautifulSoup, Comment
import numpy as np

In [2]:
headers = {
    'Access-Control-Allow-Origin': '*',
    'Access-Control-Allow-Methods': 'GET',
    'Access-Control-Allow-Headers': 'Content-Type',
    'Access-Control-Max-Age': '3600',
    'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0'
    }

In [3]:
df = pd.read_csv('KathmanduPost.csv')

In [4]:
list(df)

['id', 'created_at', 'urls', 'article']

In [5]:
df.shape

(30747, 4)

In [6]:
df.head()

,id,created_at,urls,article
0,1376943554061348864,2021-03-30 22:50:00+05:45,http://tkpo.st/31u5qcO,National A Qatari woman aims to climb Everest ...
1,1376880639417323524,2021-03-30 18:40:00+05:45,https://tkpo.st/3sBwym6,World Myanmar protesters launch 'garbage strik...
2,1376861721130790912,2021-03-30 17:24:49+05:45,https://tkpo.st/3fnEiEw,"Health Nepal’s Covid-19 toll reaches 3,030 wit..."
3,1376839351791804417,2021-03-30 15:55:56+05:45,https://tkpo.st/3m2CBh7,NaN
4,1376807388439699456,2021-03-30 13:48:55+05:45,https://tkpo.st/31xfdPe,National Dahal files petition at Supreme Court...

In [7]:
df.tail()

,id,created_at,urls,article
30742,947657136892346368,2018-01-01 08:19:02+05:45,http://kathmandupost.ekantipur.com/news/2018-0...,NaN
30743,947654359294382080,2018-01-01 08:08:00+05:45,http://kathmandupost.ekantipur.com/news/2018-0...,NaN
30744,947652345613246464,2018-01-01 08:00:00+05:45,http://kathmandupost.ekantipur.com/news/2017-1...,NaN
30745,947637246810775552,2018-01-01 07:00:00+05:45,http://kathmandupost.ekantipur.com/news/2017-1...,NaN
30746,947622146783809537,2018-01-01 06:00:00+05:45,http://kathmandupost.ekantipur.com/news/2017-1...,NaN

## Chunk

In [8]:
def article_ktmpost(row):
    try:
        if (row.article != row.article):
            url = row.urls
            req = requests.get(url, headers)
            soup = BeautifulSoup(req.content, 'html.parser')
            result = soup.find("div", {"class": "col-sm-8"})
            return result.text
        return row.article
    except Exception as e:
        print (str(e))
        return 404

In [ ]:
file_path = "KathmanduPost.csv"
result_file_path = "KathmanduPost_articles.csv"

pd.read_csv(file_path, nrows=1).head(0).to_csv(result_file_path)
dataframe = pd.read_csv(file_path, iterator=True, chunksize=1000)

for chunk in dataframe:
   chunk['article'] = chunk.progress_apply(article_ktmpost, axis=1)
   chunk.to_csv(result_file_path, mode='a', header=None)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=1000.0), HTML(value='')))

'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=1000.0), HTML(value='')))

'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'